<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="col-sm-4">
        <select class="form-select" name="listFilter" [(ngModel)]="listFilter" (ngModelChange)="updateFilter($event)">
            <option value="0">All</option>
            <option value="1">Unfulfilled</option>
            <option value="2">Fulfilled</option>
        </select>
    </div>
</body>

</html>