<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">

    <div *ngIf="items.length > 0; then showItems  else  noItems"></div>

    <ng-template #noItems>
      <h2>No items in list</h2>
    </ng-template>

    <ng-template #showItems>
      <div class="wish-list">
        <li *ngFor="let item of items; index as ii" class="list-group-item pill">
          <div class="form-check ">
            <label for="" class="form-check-label">
              <input class="checkbox" type="checkbox" [attr.data-index]="ii" [checked]="item.isComplete"
                (click)="toggleItem(item)" name="" id="">
              {{item.wishText}}
            </label>
          </div>
        </li>
      </div>
    </ng-template>


  </div>
</body>

</html>